@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: unset;
    background-color: #f9f9f9;

}

.navbar__img{

    height: 100%;

}
.navbar__img > img{
    height: 100%;
    margin-top: 10px;
    margin-left: 20px;
    width: 140px;
}

.navbar__items{
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: unset;
    background-color: #b4b4b8;
    border-bottom-left-radius: 30px;
}

.items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 200px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #636363;
    padding-left: 10px;
}

.item_icon{
    color: #636363;
    text-align: center;
}

.footer{
    background: #636363;
    text-align: center;
}

